:root{
    --font-size-small:1rem;
    --font-size-medium:2rem;
    --font-size-large:3rem;
    
    /* teal */
    --color-primary: #14b8a6;    
    --color-primary-dark: #0f766e;
    --color-primary-light: #ccfbf1;

    /* azul */

    --color-secondary: #279af1;
    --color-secondary-dark: #1871b5;
    --color-secondary-light: #78bef4;

    /* básicas + comuns */
    --color-success: #16a34a;
    --color-warning: #f59e0b;
    --color-danger: #dc2626;
    --color-info: #0ea5e9;



}   